*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
}
.bottomBorder{
    border-bottom: 1px solid darkgray;
}
#topNav{
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottomNav{
    width: 100%;
    height: 40%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkgray;
}
#container{
    margin-top: 20px;
}
.navOption{
    height: 90%;
    width: 140px;
    background-color: gainsboro;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.icon{
    height: 75%;

}
.dropdown{
    height: 30%;
}
#leftNav{
    height: 100%;
    width: 40%;
    display: flex;
}
#rightNav{
    height: 100%;
    width: 35%;;
}
#logoBox{
    height: 100%;
    width: 30%;
}
#logoBox > img{
    height: 100%;
}
input{
    height: 75%;
    width: 60%;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 25px;
}
